.face {
  background: #ffffff;
  border-radius: 10px;
  padding: 2% 3%;
  border: 1px solid black;
}
.divs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14%;
}
.forminput {
  margin-bottom: 0.5%;
}

label {
  display: block;
  margin-bottom: 0.5%;
}

body {
  background-color: #f0f0f0;
}
